/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.bk-select-items {
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: normal !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font: 0.9em/1.2em arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* MASTER */

#header {
    margin-bottom: 100px;
    color: #fff;
    font-size: 1.4em;
    height: 90px;
    background-color: #1e1e1e;
    text-align: center;
    line-height: 90px;
}

#footer {
    margin-top : 100px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    background-color: #1e1e1e;
}
/* END MASTER*/

.table-header th {
    font-weight : bold;
    background-color : #23b5d3 !important;
    color : #fff;
}
#map {
    height : 300px; 
}
#mceu_17 {
    margin-right : 15px;
}
.header-row {
    background-color : #23b5d3 !important;
    color : #fff;
    height : 40px;
    line-height : 40px;
}
.middle-row {
    background-color : #8A989F !important;
    color : #fff;
    height : 40px;
    line-height : 40px;
}
.addEditEvent-container, .galleries-container {
    border : 1px solid #23b5d3;
    border-radius : 5px;
    padding-bottom : 20px;
    background-color : #fff;
}
.addeditlabel {
    font-size : 0.8em !important;
    line-height : 20px !important;
    font-weight : 600 !important;
}
.admin-row a:hover {text-decoration:none;}
.admin-row {
    margin-bottom : 25px;
}
.addeditevent-row {
    margin-bottom : 10px;
}
.admin-event-img-video {
    text-align : center;
}
.admin-event-img-video iframe {
   width : 80%;
   height : 250px;
}
.admin-event-img-video img{
    height : 150px; 
}
.text-center {
    text-align : center;
}

.menu-item {
    background-color : #fff;
    padding-top : 10px;
    padding-bottom : 20px;
}
.menu-icon {
    font-size : 2.5em;
    margin-top : 30px;
    margin-bottom : 15px;
}
.menu-title {
    text-transform : uppercase;
    font-weight : 500;
}
.menu-link, .table-link {
    color: #fff;
    background-color : #ba2d0b;
    width : 145px;
    height : 40px;
    line-height : 40px;
    border-radius : 2px;
    margin-top: 5px;
    margin-right : 3px;
    margin-left : 3px;
    display : inline-block;
}
.table-link {
    line-height : 25px;
    height : 25px;
    width : 100px;
    margin-top: 0px;
}
.menu-link:hover {
    background-color : #e8502b;
}
.menu-link a {
    line-height : 40px;
    text-decoration:none;
}
.menu-link-add, .table-link-edit {
    color : #fff;
    background-color : #23b5d3;

}
.menu-link-add:hover, .table-link-edit:hover {
    background-color : #0e98b5;
}

.event-table th, .event-table td {
    font-size : 0.9em;
    line-height : 30px !important;
}


/* LOGIN */
body {
    background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
    .form-signin input[type="text"] {
        margin-bottom: 10px;
        border-radius: 0;
    }
    .form-signin input[type="text"]:focus {
        border: 1px solid rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-radius: 0;
    }
    .form-signin input[type="password"]:focus {
        border: 1px solid rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    }

.no-result-error{
    color : red;
}
.admin-error {
    width:300px;
    margin:0 auto;
    color : red;
    display : none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.admin-error-active {
    display : block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* END LOGIN */

.databaseImages {
    width:100%;
    height:120px;
}

.tempImages {
    width:100%;
    height:250px;
}

.textarea {
 height: 100px;
  width:100%;
  max-width: 100%;
  box-sizing:border-box;
  margin:0;
  border: 3px solid #ddd;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}