<div class="row">
    <div class="col-md-3 footer-logo hidden-sm hidden-xs">
        <img src="/Library/img/AdriaTicket-logo-large.png" alt="logo" />
    </div>

    <div class="col-md-3">
        <h3>Prstac d.o.o.</h3>
        <ul>
            <li>Makarska 17</li>
            <li>21000, Split</li>
            <li>Hrvatska</li>
            <li><img src="/Library/img/oib-ico.png" alt="OIB"> 94938486031</li>
            <li><img src="/Library/img/email-ico.png" alt="email"> info@adriaticket.com</li>
        </ul>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs">
        <h3>Mapa stranice</h3>
        <ul>
            <li><a href="#">Naslovnica</a></li>
            <li><a href="#">Događanja</a></li>
            <li><a href="#">Prodajna mjesta</a></li>
        </ul>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs">
        <h3>Korištenje</h3>
        <ul>
            <li><a href="#">Podaci o prodajnom mjestu</a></li>
            <li><a href="#">Uvjeti prodaje</a></li>
            <li><a href="#">Korištenje osobnih podataka</a></li>
        </ul>
    </div>
</div>
<div class="row copyright">
    <div class="md-col-12">
        Copyright © AdriaTicket 2015
    </div>
</div>

<script src="~/Library/JS/blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>