<div class="logo">
    <h1>Adria</h1>
    <h1>TICKET</h1>
</div>

<div class="main-nav">
    <ul>
        <li><a href="#">NASLOVNICA</a></li>
        <li><a href="#">DOGAĐANJA</a></li>
        <li><a href="#">PRODAJNA MJESTA</a></li>
        <li><a href="#">KONTAKT</a></li>
    </ul>
</div>

<div class="subheader">
    <div class="social">
        <ul>
            <li>FB</li>
            <li>TW</li>
        </ul>
    </div>

    <div class="search">
        <form>
            <input type="text" />
        </form>
    </div>
</div>