<div class="logo">
    <h1>Adria</h1>
    <h1>TICKET</h1>
</div>

<div class="main-nav">
    <ul>
        <li><a href="#">NASLOVNICA</a></li>
        <li><a href="#">DOGAĐANJA</a></li>
        <li><a href="#">PRODAJNA MJESTA</a></li>
        <li><a href="#">KONTAKT</a></li>
    </ul>
</div>

<div class="subheader">
    <div class="row">
        <div class="social navbar-left">
            <ul>
                <li><a class="social-fb" href="#"></a></li>
                <li><a class="social-tw" href="#"></a></li>
            </ul>
        </div>

        <div class="col-lg-3 navbar-right searchbar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pretraga...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Traži</button>
                </span>
            </div>
        </div>
    </div>  
</div>