<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#"><img src="/Library/img/AdriaTicket-logo-white.png" alt="logo" /></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">NASLOVNICA</a></li>
                <li><a href="#">DOGAĐANJA</a></li>
                <li><a href="#">PRODAJNA MJESTA</a></li>
                <li><a href="#">KONTAKT</a></li>
            </ul>
        </div>
    </div>
    
        <div class="subheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 social navbar-left hidden-xs">
                        <ul>
                            <li><a class="social-fb" href="https://www.facebook.com/adriaticket" target ="_blank">Facebook</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 navbar-right searchbar">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pojam za pretragu...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>