<div class="logo">
</div>

<div class="main-nav">
    <ul>
        <li><a href="#">NASLOVNICA</a></li>
        <li><a href="#">DOGAĐANJA</a></li>
        <li><a href="#">PRODAJNA MJESTA</a></li>
        <li><a href="#">KONTAKT</a></li>
    </ul>
</div>

<div class="subheader">
    <div class="row">
        <div class="col-md-3 social navbar-left">
            <ul>
                <li><a class="social-fb" href="#">Facebook</a></li>
            </ul>
        </div>

        <div class="col-md-3 navbar-right searchbar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pretraga...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>  
</div>