<div class="logo">
    <h1>Adria</h1>
    <h1>TICKET</h1>
</div>

<div class="main-nav">
    <ul>
        <li>NASLOVNICA</li>
        <li>DOGAĐANJA</li>
        <li>PRODAJNA <br />MJESTA</li>
        <li>KONTAKT</li>
    </ul>
</div>