<ul>
     <li><a href="~/">NASLOVNICA</a></li>
    <li><a href="~/Events">ARHIVA DOGAĐAJA</a></li>
    <li><a href="~/Locations">PRODAJNA MJESTA</a></li>
    <li><a href="~/Contact">KONTAKT</a></li>
</ul>