@{
    ViewBag.Title = "CMS Adria Ticket - Galerije";
    ViewBag.Header = "CMS Adria Ticket - Galerije";
}

<div ng-controller="AdminGalleryController">
    <div class="container galleries-container">
        <div class ="row admin-row header-row">
            <div class ="col-sm-12">
                Galerija: {{gallery[0].NazivGalerije}}
            </div>
        </div>

        <div class ="row admin-row">
             <div class ="col-xs-12 col-sm-12">
                    <a href ="/admin/galleries">
                      <button class="form-control btn btn-warning" type="button">
                        <i class="glyphicon glyphicon-remove"></i>
                        Odustani
                      </button>
                  </a>
            </div>
        </div>
        <div class="form-group row admin-row">
            <div class ="col-xs-12 col-sm-12">
                <button type="file"
                    ngf-select ng-model="files" 
                    ng-model-rejected="rejFiles"  
                    ngf-multiple="true" 
                    accept="image/*" 
                    ngf-accept="'image/*'" 
                    class="form-control btn btn-info">
                    <i class="glyphicon glyphicon-picture"></i>   
                    Odaberi slike

                </button>
            </div>
        </div>

        
        
        <div class="row admin-row text-center">
        <div ng-if="tempImages.length > 0" class ="col-xs-12 col-sm-12">
        <div class ="row admin-row middle-row">
        <div class ="col-sm-12">
        Odabrane slike
        </div>
        </div>
        <div class ="image-container col-xs-12 col-sm-4 col-md-3" ng-repeat="image in tempImages">
            <img class="tempImages" src={{"/uploads/"+image}} />
        </div>
        </div>
        </div>

        <div ng-if="tempImages.length > 0" class="form-group">
            <div class ="row">
                <div class ="form-group col-xs-12 col-sm-12">
                    <button type="submit" class="form-control btn btn-success" ng-disabled="uploadFlag" ng-click="beginUpload()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Spremi slike                      
                    </button>
                </div>
            </div>
        </div>
        
                
        <div class="row admin-row text-center">
        <div  ng-if="gallery[0].Id != 0" class ="col-xs-12 col-sm-12">
        <div class ="row admin-row middle-row">
        <div class ="col-sm-12">
        Slike u galeriji
        </div>
        </div>
  
        <div class ="image-container col-xs-6 col-sm-2" ng-repeat="image in gallery">
            <img class="databaseImages" src={{"/uploads/"+image.ImageName}} />
            <button type="submit" class="form-control btn btn-danger" ng-click="deleteImage(image)">
                <i class="glyphicon glyphicon-remove"></i>
                Obriši                     
            </button>
        </div>
        </div>
        </div>
    </div>
</div>
