@{
    ViewBag.Title = "CMS Adria Ticket - Galerije";
    ViewBag.Header = "CMS Adria Ticket - Galerije";
}


<div ng-controller="AdminGalleriesController">

    <input type="search" ng-model="query" placeholder="Pojam za pretragu"/>
    <button ng-click="dodajNovu()">Dodaj</button>
 <table>
    <tr>
    <th>Ime</th>
    <th>Akcije</th>
 </tr>
     <tr ng-repeat="gallery in galleries | filter: query as results">
        <td>{{gallery.NazivGalerije}}</td>
         <td>
            <a href ="/admin/gallery/{{gallery.Id}}">Uredi</a>
         </td>
     </tr>
     <tr ng-if="results.length == 0">
      <td colspan="3">Nema rezultata pretrage.</td>
    </tr>
 </table>
</div>
