@{
    ViewBag.Title = "CMS Adria Ticket - Galerije";
    ViewBag.Header = "CMS Adria Ticket - Galerije";
}

<div ng-controller="AdminGalleryController">
    <div class="container galleries-container">
        <div class ="row admin-row header-row">
            <div class ="col-sm-12">
                Galerija: {{gallery.NazivGalerije}}
            </div>
        </div>
        <h3>Postojece slike</h3>
        <div class ="image-container" ng-repeat="image in gallery"><img src={{"/uploads/"+image.ImageName}} /> <input type="button" value="obrisi" ng-click="deleteImage(image)"/></div>

        <label>Dodaj nove slike</label>
        <div class="form-group">
            <div class ="col-xs-12 col-lg-7">
                <button type="file"
                ngf-select ng-model="files" 
                ng-model-rejected="rejFiles"  
                ngf-multiple="true" 
                accept="image/*" 
                ngf-accept="'image/*'" 
                    class="form-control btn btn-primary">Odaberi slike</button>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary" ng-disabled="uploadFlag" ng-click="beginUpload()">Spremi odabrane slike</button>
        </div>    
    </div>
</div>
