@{
    ViewBag.Title = "CMS Adria Ticket - Početna";
    ViewBag.Header = "CMS Adria Ticket - Početna";
}



<a href ="/admin/events">Prikaži eventove</a>
<a href ="/admin/galleries"> Galerije slika</a>
<a href ="/admin/logoff"> odjavi se</a>