@{
    ViewBag.Title = "CMS Adria Ticket - Početna";
    ViewBag.Header = "CMS Adria Ticket - Početna";
}


<div class="container">
    <div class ="row home-row">
        <div class ="col-lg-4 text-center">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-heart-empty "></span></div>
            <div class ="menu-title">Događaji</div>
            <div class ="menu-link"><a href ="/admin/events">Otvori modul</a></div>
            <div class ="menu-link menu-link-add"><a href ="/admin/events/event/add">Dodaj novi</a></div>
            </div>
        </div>
        <div class ="col-lg-4 text-center logout-link">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-home "></span></div>
            <div class ="menu-title">Adria Ticket</div>
            <div class ="menu-link"><a href ="/" target ="_blank">Otvori web stranicu</a></div>
            </div>
        </div>
        <div class ="col-lg-4 text-center logout-link">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-log-out "></span></div>
            <div class ="menu-title">Odjava</div>
            <div class ="menu-link"><a href ="/admin/logoff">Odjava</a></div>
            </div>
        </div>
    </div>
    <div class ="row home-row">
        <div class ="col-lg-6 text-center">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-camera"></span></div>
            <div class ="menu-title">Fotogalerija</div>
            <div class ="menu-link"><a href ="/admin/galleries">Otvori modul</a></div>
            <div class ="menu-link menu-link-add"><a href ="/admin/galleries/#">Dodaj novi</a></div>
            </div>
        </div>
        <div class ="col-lg-6 text-center">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-facetime-video"></span></div>
            <div class ="menu-title">Videogalerija</div>
            <div class ="menu-link"><a href ="/admin/#">Otvori modul</a></div>
            <div class ="menu-link menu-link-add"><a href ="/admin/#">Dodaj novi</a></div>
            </div>
        </div>
    </div>
    <div class ="row home-row">
        <div class ="col-lg-6 text-center">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-map-marker"></span></div>
            <div class ="menu-title">Gradovi</div>
            <div class ="menu-link"><a href ="/admin/#">Otvori modul</a></div>
            <div class ="menu-link menu-link-add"><a href ="/admin/#">Dodaj novi</a></div>
            </div>
        </div>
        <div class ="col-lg-6 text-center">
            <div class ="menu-item">
            <div class ="menu-icon"><span class ="glyphicon glyphicon-map-marker"></span></div>
            <div class ="menu-title">Lokacije</div>
            <div class ="menu-link"><a href ="/admin/#">Otvori modul</a></div>
            <div class ="menu-link menu-link-add"><a href ="/admin/#">Dodaj novi</a></div>
            </div>
        </div>
    </div>
</div>


