@{
    ViewBag.Title = "CMS AdriaTicket - Prijava";
}


<div ng-controller="LoginController">
      <form novalidate name="loginForm">
        <label for="username">Korisničko ime: </label><input required id="username" type ="text"  ng-model="user.username">
        <label for ="password">Lozinka: </label><input required id="password" type="password" ng-model="user.password">
        <input type="checkbox" ng-model ="user.remember_me" id="checkbox_id" value = "false">
        <label for="checkbox_id">Zapamti me</label>
        <button ng-click = "submit(user)" ng-disabled="loginForm.$invalid">Prijava</button>
      </form>
        
      <div class ="admin-error {{error.show}}">
          <p>Neispravno korisničko ime ili lozinka!</p>
      </div>

</div>
