@{
    ViewBag.Title = "addgallery";
}
<div ng-controller="addGalleryController">

        <form name="eventForm">
        <fieldset>
            <div class ="row admin-row">
            <div class ="col-xs-12 col-sm-4">
                <div class="form-group">
                    <div class ="row addeditevent-row">
                    <label for="nazivGalerije" class="control-label col-xs-12 col-sm-12 addeditlabel">Naziv</label>
                    <div class="col-xs-12 col-sm-12">
                        <input type="text" class="form-control" id="nazivGalerije" placeholder="Naziv galerije" ng-model="gallery">
                    </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            </fieldset>
            </form>
</div>
