@{
    ViewBag.Title = "CMS Adria Ticket - Gradovi";
    ViewBag.Header = "CMS Adria Ticket - Gradovi";
}


<div ng-controller="AdriaTicketTownsController">
    <div class="container">
    <div class="row admin-row">
        <div class ="col-sm-3 col-xs-12">
          <a href ="/admin">
              <button class="btn btn-default btn-md" type="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
              Povratak
              </button>
          </a>
        </div>
	</div>

    <div class="row">
    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
    </div>
</div>
</div>
