<div ng-controller="EventController">
    <div  ng-bind-html="renderHtml(event.EVE_Opis)"></div> @*samo se opis mora ispisat priko ovoga bind html zato sta je html, ostalo mozes sa ovim zagradama*@
    {{event.EVE_Naziv}}
    {{event.EVE_ImagePath}}
    {{event.EVE_Datum}}
    {{event.EVE_DatumOdProdaja}}
    {{event.EVE_DatumOdPretprodaja}}
    {{event.ORG_Naziv}}

</div>
