<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>


<div ng-controller="EventController" class="single-event">
    <div class="event-header row">
        <div class="col-md-3">
            <img src="~/Library/img/event-200.jpg" alt="" />
        </div>
        <div class="col-md-6 row">
            <h2 class="col-md-12">{{event.EVE_Naziv}}</h2>
            <div class="col-md-6">
                <div class="subitem">
                    <p class="minititle">MJESTO</p>
                    <ul>
                        <li>{{event.DVO_Naziv}}</li>
                        <li>{{event.MJE_ZIP}}, {{event.MJE_Naziv}}</li>
                        <li>{{event.DRZ_Naziv}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subitem vrijeme">
                    <p class="minititle">VRIJEME</p>
                    <ul>
                        <li>{{event.EVE_Datum}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 vcenter">
            <a href="#" class="buy">KUPI ULAZNICU</a>
        </div>
    </div>
    <div class="row description">
        <div class="col-md-8">
            <div ng-bind-html="renderHtml(event.EVE_Opis)"></div> @*samo se opis mora ispisat priko ovoga bind html zato sta je html, ostalo mozes sa ovim zagradama*@
            <br />Video: {{event.videoLink}}
            <hr />
            <table class="table">
                <tr>
                    <td>Prodaja karata: </td>
                    <td>{{event.EVE_DatumOdProdaja}}</td>
                </tr>
                <tr>
                    <td>Pretprodaja karata od: </td>
                    <td>{{event.EVE_DatumOdPretprodaja}}</td>
                </tr>
                <tr>
                    <td>Naziv organizatora: </td>
                    <td>{{event.ORG_Naziv}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 sidebar">
            <p class="minititle">GALERIJA</p>
            <div class="image-container col-centered" ng-repeat="image in images"><img src={{"/uploads/"+image.ImageName}} /></div>
        </div>
    </div>
</div>
