@{
    ViewBag.Title = "AdriaTicket - Događaj";
}

<div id="main-content" class="container">
    <div ng-controller="EventController" class="single-event">
        <div class="event-header row">
            <div class="col-md-3">
                <img src= "{{'/uploads/event/'+ event.EVE_Naziv +'/' + event.EVE_ImagePath}}" alt="" />
            </div>
            <div class="col-md-6 row">
                <h2 class="col-md-12">{{event.EVE_Naziv}}</h2>
                <div class="col-md-3 col-xs-5">
                    <div class="subitem vrijeme">
                        <p class="minititle"> </p>
                        <ul>
                            <li>{{event.EVE_Datum}}</li>
                            <li>{{event.EVE_Vrijeme}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-xs-7">
                    <ul>
                        <li>{{event.DVO_Naziv}}</li>
                        <li>{{event.MJE_ZIP}}, {{event.MJE_Naziv}}</li>
                        <li>{{event.DRZ_Naziv}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 vcenter">
                <a href="#" class="buy">KUPI ULAZNICU</a>
            </div>
        </div>
        <div class="row description">
            <div class="col-md-8">
                <div ng-bind-html="renderHtml(event.EVE_Opis)"></div> @*samo se opis mora ispisat priko ovoga bind html zato sta je html, ostalo mozes sa ovim zagradama*@
                <div class="center-block">  <youtube-video class="center-block" video-id="event.videoLink"></youtube-video></div>
                <hr />
                <table class="table">
                    <tr ng-if="event.EVE_DatumOdProdaja">
                        <td>Prodaja karata: </td>
                        <td>{{event.EVE_DatumOdProdaja}}</td>
                    </tr>
                    <tr ng-if="event.EVE_DatumOdPretprodaja">
                        <td>Pretprodaja karata od: </td>
                        <td>{{event.EVE_DatumOdPretprodaja}}</td>
                    </tr>
                    <tr ng-if="event.ORG_Naziv">
                        <td>Naziv organizatora: </td>
                        <td>{{event.ORG_Naziv}}</td>
                    </tr>
                </table>
            </div>


            <div ng-if="event.Images" class="col-md-4 sidebar">
                <p class="minititle">GALERIJA</p>



                <div id="links" class="row">
                    <div class="image-container" ng-repeat="image in event.Images">
                        <a href="{{'/uploads/galleries/'+ image.NazivGalerije +'/' + image.ImageName}}" class="col-md-4 single-image">
                            <img src="{{'/uploads/galleries/'+ image.NazivGalerije +'/' + image.ImageName}}" width="110" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>