@{
    ViewBag.Title = "AdriaTicket - Naslovnica";
}

<div class="row">
    <div id="amazingslider-wrapper-1" class="col-md-12" style="display:block;position:relative;max-width:900px;padding-left:0px; padding-right:250px;  margin-left: 35px;  margin-bottom: 80px;">
        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li>
                    <img src="images/11215987_10205944356905235_517526779_n.jpg" alt="11215987_10205944356905235_517526779_n" />
                </li>
                <li>
                    <img src="images/Apple_logo_black.svg.png" alt="Apple_logo_black.svg" />
                </li>
                <li>
                    <img src="images/Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post.png" alt="Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post" />
                </li>
                <li>
                    <img src="images/bag-design.jpg" alt="bag-design" />
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="images/11215987_10205944356905235_517526779_n-tn.jpg" alt="11215987_10205944356905235_517526779_n" /></li>
                <li><img src="images/Apple_logo_black.svg-tn.png" alt="Apple_logo_black.svg" /></li>
                <li><img src="images/Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post-tn.png" alt="Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post" /></li>
                <li><img src="images/bag-design-tn.jpg" alt="bag-design" /></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ads-container">
        <p>REKLAME</p>
    </div>
</div>

<div class="row">
    <div ng-controller="HomeController" class="col-md-9">   
        <div class="row">
            <div ng-repeat="event in events" class="col-md-4 col-sm-6 one-event">
                <img src="../Library/img/colonia-testna-slika.jpg" />
                <div class="event-content">
                    <h3>{{event.EVE_Naziv}} </h3>
                    <p> {{event.EVE_Opis}} </p>
                </div>
            </div>
        </div>
        </div>
        <div class="sidebar col-md-3"></div>
    </div>
