@{
    ViewBag.Title = "AdriaTicket - Naslovnica";
}

<div class="row">
    <div id="amazingslider-wrapper-1" class="col-md-12" style="display:block;position:relative;max-width:900px;padding-left:0px; padding-right:250px;  margin-left: 35px;  margin-bottom: 80px;">
        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li>
                    <img src="/Library/img/colonia-testna-slika.jpg" alt="11215987_10205944356905235_517526779_n" />
                </li>
                <li>
                    <img src="/Library/img/colonia-testna-slika.jpg" alt="Apple_logo_black.svg" />
                </li>
                <li>
                    <img src="/Library/img/colonia-testna-slika.jpg" alt="Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post" />
                </li>
                <li>
                    <img src="/Library/img/colonia-testna-slika.jpg" alt="bag-design" />
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="/Library/img/colonia-testna-slika.jpg" alt="11215987_10205944356905235_517526779_n" /></li>
                <li><img src="/Library/img/colonia-testna-slika.jpg" alt="Apple_logo_black.svg" /></li>
                <li><img src="/Library/img/colonia-testna-slika.jpg" alt="Apple-iPhone-6-with-iOS8-Pixelmator-Template-Blog-Post" /></li>
                <li><img src="/Library/img/colonia-testna-slika.jpg" alt="bag-design" /></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ads-container">
        <a href="http://www.uni-rent.net">
            <img src="/Library/img/unirent.png" alt="uni-rent" class="center-block">
        </a>
    </div>
</div>

<div class="row">
    <div ng-controller="HomeController" class="col-md-9">   
        <div class="row">
            <div ng-repeat="event in events" class="col-md-4 col-sm-6 one-event">
                <a href={{"/public/event/"+event.EVE_Id}}>
                    <img src="/Library/img/colonia-testna-slika.jpg" class="thumbnail" />
                    <div class="event-content">
                        <h3>{{event.EVE_Naziv}} </h3>
                        <p> {{event.EVE_Opis}} </p>
                    </div>
                </a>
            </div>
        </div>
        </div>
        <div class="sidebar col-md-3">
            <div class="fb-page" data-href="https://www.facebook.com/adriaticket" 
                 data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/adriaticket">
                    <a href="https://www.facebook.com/adriaticket">Adriaticket</a></blockquote>
                </div>
            </div>
        </div>
    </div>
