@{
    ViewBag.Title = "AdriaTicket - Korištenje osobnih podataka";
}

<div id="main-content" class="container privacy">
    <div ng-controller="PersonalDataUsageController">
        <h2>Izjava o prikupljanju i koristenju osobnih podataka</h2>
        <hr>
        <p>PRSTAC d.o.o. obavezuje se pružati zaštitu osobnim podacima kupaca, na način da prikuplja samo nužne, osnovne podatke o kupcima/ korisnicima koji su nužni za ispunjenje naših obveza; informira kupce o načinu korištenja prikupljenih podataka, redovito daje kupcima mogućnost izbora o upotrebi njihovih podataka, uključujući mogućnost odluke žele li ili ne da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje. Svi se podaci o korisnicima strogo čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje posla. Svi djelatnici PRSTAC doo i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.</p>


        <h2>Izjava o zaštiti prijenosa osobnih podataka</h2>
        <hr />
        <p><strong>Unos i prijenos osobnih podataka</strong><p>
        <p>Unos i prijenos osobnih podataka i podataka o broju kreditne kartice zaštićen je SSL protokolom 256-bitne enkripcije koju osigurava WSpay™ sustav za on line autorizaciju kreditnih karica. Autorizacija i naplata kreditnih kartica radi se korištenjem sustava WSpay™ za autorizaciju i naplatu kartica u realnom vremenu.</p>
    </div>
</div>