@{
    ViewBag.Title = "Places";
}

<div id="main-content" class="container place-info">
    <div ng-controller="PlacesController">
        <h2>Podaci o prodajnom mjestu</h2>
        <hr />
        <ul>
            <li><strong>Naziv tvrtke : PRSTAC d.o.o.</strong></li>
            <li>Sjedište tvrtke: Makarska 17, Split, Hrvatska</li>
            <li>Tvrtka je upisana u Sudski registar  Trgovačkog suda u Splitu.</li>
            <li>Broj upisa u Sudski registar : 060266062</li>
            <li>Iznos temeljnog kapitala je 20.000,00 kn i uplaćen je u cijelosti.</li>
            <li>Član Uprave Društva : Vladimir Pazinović</li>
            <li>Račun kod:  <strong>Zagrebačka banka d.d.</strong> Trg bana Josipa Jelačića 10, 10000 Zagreb,
            <li>Hrvatska IBAN HR9423600001102171848</li>
            <li>E-mail: <a href="mailto:info@adriaticket.com">info@adriaticket.com</a></li>
            <li>Tel: 021 560 561</li>
        </ul>
    </div>
</div>
