@{
    ViewBag.Title = "terms of use";
}

<div id="main-content" class="container terms">
    <div ng-controller="TOUController">
        <h2>Uvjeti prodaje</h2>
        <hr />
        <p>Adriaticket je web trgovina čija je osnovna djelatnost  prodaja ulaznica za razne događaje. Adriaticket prodajni sustav, web trgovina i zaštićeno ime tj trgovačka marka, u vlasništvu su tvrtke Prstac d.o.o.</p>
        <p>Adriaticket u ime Organizatora, u obliku poslovne usluge, vrši prodaju ulaznica za događaje unutar svog sustava prodaje ili omogućuje Organizatoru da koristi Adriaticket sustav u svrhu prodaje ulaznica, uz ugovornu naknadu.</p>
        <p> ponudi Adriaticket sustava za prodaju ulaznica nalaze se ulaznice za događaje organizirane od strane trećih pravnih osoba tj. Organizatora događaja.</p>
        <p>Ulaznica predstavlja stvarnu imovinu ili elektronski oblik koji se distribuira u službenoj prodajnoj mreži Adriaticket-a, a omogućuje ulaz na događaje za koje je kupljena.</p>
        <p>Adriaticket jamči sigurnost sustava i valjanost ulaznica kupljenih isključivo kroz službenu prodajnu mrežu koja je oglašena na stranici <a href="http://www.adriaticket.com">AdriaTicket</a> Sve vrste ulaznica koje Adriaticket nudi se koriste na način da prva osoba koja ulaznicu, odnosno bar kod numeraciju iste, iskoristi ima mogućnost ulaza.</p>
        <p>Prodajnu mrežu u sustavu Adriaticket-a čine:</p>
        <p>podprodavateljska prodajna mreža Adriaticket-a oglašena na službenim stranicama <a href="http://www.adriaticket.com">AdriaTicket</a>,</p>
        <p>internet trgovina na adresi <a href="http://www.adriaticket.com">AdriaTicket</a>,</p>
        <p>te blagajna na mjestu događaja.</p>
        <p>Adriaticket je samo posrednik pri prodaji ulaznica, angažiran za navedeni posao od Organizatora događaja, te samim tim nipošto ne odgovara za povrat novca u slučaju otkazivanja događaja, promjene mjesta ili datuma održavanja događaja.</p>
        <p>Povrat novca za kupljenu ulaznicu nije moguć. Zamjena ulaznice nije moguća.</p>
        <p>Isto tako, Adriaticket ne odgovara za bilo kakve izmjene u opisu događaja danog od strane organizatora. Organizator zadržava pravo izmjene cijene ulaznice dok se događaj ne održi.</pre></p>
        <p>Adriaticket ne prihvaća odgovornost za ulaznice izgubljene u dostavnom kanalu, te ne prihvaća odgovornost za pravilnu dostavu od strane trećih osoba kao što su poštanski uredi ili druge dostavne službe. Adriaticket ne preuzima odgovornost za moguće troškove nastale zbog nedostavljanja ili kašnjenja dostave ulaznica.</p>
        <p>Kupovinom ulaznice posjetitelj je prihvatio sve uvjete uporabe ulaznice kao i pravila ponašanja na mjestu održavanja događanja koje određuje organizator ili mjesto događanja. Kupovinom ulaznice kupac bezuvjetno prihvaća : Sva pravila navedena na poleđini kupljene ulaznice ili u opisnom polju elektronskih oblika ulaznice ; Napuštanjem mjesta događanja ulaznica prestaje važiti ukoliko Organizator nije odredio drugačije ;Povrat i zamjena ulaznice nakon kupnje nije moguć; Nepoštivanjem pravila ponašanja i zloporabom ulaznice posjetitelj može biti udaljen sa mjesta događanja bez prava na bilo kakvu naknadu; Kupac ne smije oštetiti, presaviti ili na bilo koji način mijenjati ulaznice otisnute na papiru ili distribuirane elektronskim putem; Adriaticket nije odgovoran za probleme nastale uslijed oštećenja bar koda na ulaznici te ih je stoga kupac do trenutka ulaza na događaj dužan čuvati na sigurnom mjestu ; Adriaticket nije odgovoran za štetu nastalu gubitkom, krađom, krivotvorenjem i neovlaštenim kopiranjem ulaznice – svaka istovjetna kopija ulaznice, bilo da je otisnuta na papiru ili je distribuirana elektronskim putem je pravovaljana tako da će ulaz na događaj biti omogućen isključivo prvoj osobi koja ulaznicu iskoristi, a naknadne reklamacije nisu moguće.</p>
        <p>Kupljenu ulaznicu, za redovno održan događaj, nije moguće vratiti. U slučaju otkazivanja ili promjene datuma održavanja događaja ulaznicu je, uz pristanak Organizatora, moguće vratiti uz nadoknadu uplaćenog iznosa umanjenog za troškove kupovine i troškove Adriaticket sustava, a sve informacije oko načina povrata ulaznice biti će objavljene na stranicama adriaticket.com . U slučaju odobrenog povrata, ulaznicu možete vratiti isključivo na prodajnom mjestu gdje su ulaznice kupljene i to najduže dva mjeseca od predviđenog datuma održavanja, osim u slučaju ako je Adriaticket ispunio sve svoje financijske obaveze prema Organizatoru događaja, te će se u tom slučaju povrat vršiti direktno od strane Organizatora događaja, a Adriaticket će pravovremeno tu informaciju objaviti na Internet stranicama adriaticket.com i o tome obavijestiti prodajno mjesto. U slučaju otkazivanja, promjene datuma ili mjesta održavanja događanja ili bilo kakvih drugih promjena vezanih za održavanje događaja od strane Organizatora dodatni troškovi kupca ulaznice (javni prijevoz, hotel i sl.) neće biti nadoknađeni.</p>
        <p>Sve reklamacije od strane kupaca potrebno je uputiti na e-mail adresu <a href="mailto:info@adriaticket.com">info@adriaticket.com</a> ili putem internetskog sučelja na stranici <a href="http://www.adriaticket.com">AdriaTicket</a></p>
        <h2>Dostava</h2>
        <hr>
        <p>Prilikom preuzimanja robe dostavljene poštom ili dostavnom službom dužni ste provjeriti eventualna oštećenja i odmah ih reklamirati kurirskom djelatniku koji je robu dostavio, odnosno odbiti preuzeti pošiljku na kojoj su vidljiva vanjska oštećenja. Cijena dostave je promjenjiva i biti će vidljiva na stranici za kupnju pri odabiru opcija dostave. Ovaj način dostave moguće je odabrati najviše 10 dana od dana održavanja događanja. U slučaju inozemnih narudžbi ovaj rok se povećava na 20 dana.</p>
        <p>Ukoliko postoji takav dogovor sa Organizatorom, ulaznice se mogu preuzimati i na dan događanja na blagajni mjesta događaja.</p>
        <h2>Načini plaćanja</h2>
        <hr>
        <p>Na službenim prodajnim mjestima i blagajni na mjestu događaja, možete plaćati isključivo gotovinom.</p>
        <p>Za događaje ponuđene u našoj Internet trgovini način plaćanja su kreditne ili debitne kartice navedene na našim stranicama. Pri plaćanju kreditnim ili debitnim karticama kupcu se dodatno na cijenu ulaznice naplaćuju i troškovi obrade kartičnih plaćanja.</p>
    </div>
    </div>
</div>